
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="container text-center p-5">
    <div class="row">
        <h1 class="mb-5">Kullanıcılar Ana Sayfası</h1>
        <div class="col-lg-6">
            <a href="/User/UserList"  class="btn btn-secondary">Kullanıcı Listele</a>
        </div>
        <div class="col-lg-6">
            <a href="/User/AddUser"  class="btn btn-primary">Kullanıcı Ekle</a>
        </div>
       
    </div>
</div>
